version: '3.4'

services:
  sauce:
    environment:
      LDAP_URL: "ldap://ldap.example:389"
      LDAP_SEARCH_BASE: "ou=People,dc=sccs,dc=swarthmore,dc=edu"
      LDAP_SEARCH_BASE_GROUP: "ou=Group,dc=sccs,dc=swarthmore,dc=edu"
      LDAP_ADMIN_GROUP: "cool-group"
      LDAP_BIND_DN: "cn=root,dc=example,dc=com"
      LDAP_BIND_SECRET: "spooky secret"
      PORT: 3000
      SESSION_SECRET: "spooky secret"
      MONGO_URI: "mongodb+srv://stuff"
      # See https://nodemailer.com/smtp/; ignore to generate an ethereal-email account
      SMTP_CONN: "smtps://username:password@smtp.example.com/?pool=true"
      # the public-facing URL
      EXTERNAL_ADDRESS: "http://localhost:3000"
      ADMIN_EMAIL: "staff@sccs.swarthmore.edu"
      EMAIL_FROM: SCCS Staff <staff@sccs.swarthmore.edu>

      MAILMAN_URL: "http://mailman:9001/3.1"
      MAILMAN_USER: "admin"
      MAILMAN_PW: "spooky secret"

      USER_AGENT_URL: "http://localhost:8526"
      CHICKEN_AGENT_URL: "http://localhost:8527"
      LOCAL_AGENT_TOKEN: "d56667ac-b7d4-4901-bd7d-2f7dd14e40e9"

      # Analytics with Plausible. if either of these options is not set, no analytics script will be added
      # domain that will be set in the data-domain attribute
      # PLAUSIBLE_DOMAIN: "sccs.swarthmore.edu"
      # server hosting the analytics script
      # PLAUSIBLE_SERVER: "plausible.io"

      # sets Express's 'trust proxy' setting. See https://expressjs.com/en/guide/behind-proxies.html
      # defaults to not set
      # TRUST_PROXY="uniquelocal"

      # where front-page status posts are read from. optional, defaults to _posts
      # POSTS_DIR='_posts/'

      # where doc pages are read from. optional, defaults to _docs
      # DOCS_DIR='_docs/'