include includes/error-template

+sauce-error('403 Forbidden')
  p
    | You don't have permission to access this page. If you think this is in
    | error, contact SCCS leadership.
  p #[a(href='/') Back to homepage]
