doctype
html(lang='en')
  head
    include includes/head.pug
    title 404 Not Found
  body
    .container-fluid.p-4(style='max-width: 768px')
      .row
        .col-md-10
          h1.mb-4 404 Not Found
          if path
            - var loc = `at <code>${path}</code>`;
          else
            - var loc = 'here';
          p
            //- the !{ loc } inserts the variable unescaped, which is necessary 
            //- for the <code> tags to work.
            | There's no page !{ loc }. If you got here from clicking a link on an
            | SCCS website, please let us know at #[a(href='mailto:staff@sccs.swarthmore.edu') staff@sccs.swarthmore.edu].
          p #[a(href='/') Back to homepage]
        .col
        //- don't need the bootstrap script here
