include includes/error-template

if path
  - var loc = `at <code>${path}</code>`;
else
  - var loc = 'here';
+sauce-error('404 Not Found')
  //- the !{ loc } inserts the variable unescaped, which is necessary 
  //- for the <code> tags to work.
  p
    | There's no page !{ loc }. If you got here from clicking a link on an
    | SCCS website, please let us know at
    |        #[a(href='mailto:staff@sccs.swarthmore.edu') staff@sccs.swarthmore.edu].
  p #[a(href='/') Back to homepage]
