include include/error-template

+sauce-error('500 Internal Server Error', false, false)
  p
    | Something weird just happened on our end. We've been notified
    | about the problem. If you have any questions, email us
    | at&nbsp;#[a(href='mailto:staff@sccs.swarthmore.edu') staff@sccs.swarthmore.edu].
    //- don't need the bootstrap script here
