include include/sauce-common

+sauce-layout('Your request has been submitted!', '', null, false)
  h1.mb-4 Your request has been submitted!
  p.
    To prevent abuse, SCCS staff manually approve all account creation 
    requests. When classes are in session, this usually happens within a
    few hours. Once you've been approved, you'll get an email at 
    #{ email } with a link to set your password.
