include includes/sauce-common

doctype
html(lang='en')
  head
    include includes/head.pug
    title Your request has been submitted!
  body
    +sauce-container('', null, false)
      .row(style='max-width: 768px')
        .col-md-8
          h1.mb-4 Your request has been submitted!
          p.
            To prevent abuse, SCCS staff manually approve all account creation 
            requests. When classes are in session, this usually happens within a
            few hours. Once you've been approved, you'll get an email at 
            #{ email } with a link to set your password.
    include includes/body-scripts.pug
