include include/sauce-common

+sauce-layout('Your request has been submitted!', '', user)
  h1.mb-4 Your request has been submitted!
  p.
    To prevent abuse, SCCS staff manually approve all mailing list creation 
    requests. When classes are in session, this usually happens within a
    few hours. You'll get an email once your list has been created with
    instructions on how to log into the Mailman GUI and manage your list.
