include include/sauce-common

doctype
html(lang='en')
  head
    include include/head.pug
    title SAUCE
  body
    +sauce-container('index', user)
      h1 SAUCE
      p.text-muted SCCS Account and User Control Engine
      p Hello, #{ user.uid }!
      p
        a(href='/logout') Log out
    include include/body-scripts.pug
