include include/sauce-common

doctype
html(lang='en')
  head
    include include/head.pug
    title SAUCE
  body
    +sauce-container('', user, user != null)
      if user
        include dashboard
      else
        include logout-splash
    include include/body-scripts.pug
