include include/sauce-common

+sauce-layout('Your request has been submitted!')(hideNavbar, includeBootstrapScripts)
  h1.mb-4 We have sent you an email!
  p.
    Follow the instructions in the email we sent you to finish setting up your account
