include include/sauce-common

+sauce-layout('Sign in to SAUCE', '', null, false)
  h1.mb-4 Sign in to SAUCE
  p
    | Use your SCCS account to sign in, not your Swarthmore ITS account.
    | Don't have a SCCS account? #[a(href='/account/create') Create&nbsp;one].
  form.form-signin(action='/login', method='post')
    input(type='hidden', name='next', value=nextUrl)
    .form-group.mb-3
      .form-floating
        input#usernameInput.form-control(type='text', name='username', placeholder='Username')
        label(for='usernameInput') Username

    .form-group.mb-3
      .form-floating
        input#passwordInput.form-control(type='password', name='password', placeholder='Password')
        label(for='passwordInput') Password

    button.btn.btn-large.btn-primary.mb-3(type='submit') Sign in
    if failedAlready
      p.text-danger That username and password combination doesn't match any SCCS account on file.
    p#userPasswordHelp.small
      a(href='/account/forgot') Forgot username or password?
