h1.display-1 Welcome to SAUCE
div(style='max-width: 700px')
  p 
    | The SCCS Account and User Control Engine is the central dashboard for SCCS's services.
  p
    | Your SCCS account is the key to access our software offerings.
    |        #[a(href='/account/create') Create an account here]. Or, you can
    |        #[a(href='/login') sign in to an existing account.]
