include include/sauce-common

doctype
html(lang='en')
  head
    include include/head.pug
    title Your password has been reset
  body
    +sauce-container('', null, false)
      .row(style='max-width: 768px')
        .col-md-8
          h1.mb-4 Your password has been reset
          p.
            You can now #[a(href='/login') log in with your new password].
    include include/body-scripts.pug
