include include/sauce-common

+sauce-layout('Your password has been reset', '', null, false)
  h1.mb-4 Your password has been reset
  p.
    You can now #[a(href='/login') log in with your new password].
