include sauce-common

mixin sauce-error(title, showNavbar = false, showFooter = true)
  doctype
  html(lang='en')
  head
    include head.pug
    title= title
  body
    +sauce-container('', null, showNavbar, showFooter)
      h1.mb-4.display-1= title
      div(style='max-width: 600px')
        block
      //- don't need the bootstrap script here
