//- html head and site metadata template
//- still requires a site title to be inserted
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
script(type='text/javascript', src='/dist/js/style.js')
