//- html head and site metadata template
//- still requires a site title to be inserted
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
script(type='text/javascript', src='/dist/js/style.js')

link(rel='apple-touch-icon', sizes='180x180', href='/static/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='/static/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/static/favicon-16x16.png')
link(rel='manifest', href='/static/site.webmanifest')
link(rel='mask-icon', href='/static/safari-pinned-tab.svg', color='#31425f')
link(rel='shortcut icon', href='/static/favicon.ico')
meta(name='apple-mobile-web-app-title', content='SCCS')
meta(name='application-name', content='SCCS')
meta(name='msapplication-TileColor', content='#2b5797')
meta(name='msapplication-config', content='/static/browserconfig.xml')
meta(name='theme-color', content='#31425f')

if (process.env.PLAUSIBLE_DOMAIN && process.env.PLAUSIBLE_SERVER)
  script(
    defer,
    data-domain=process.env.PLAUSIBLE_DOMAIN,
    src=`https://${process.env.PLAUSIBLE_SERVER}/js/plausible.outbound-links.js`
  ) 
