[Unit]
Description=SAUCE Minecraft Whitelist Management Agent
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/srv/sauce/mc-agent
# We will keep system node on this VM relatively constant
ExecStart=/usr/bin/node /srv/sauce/mc-agent/build/src/index.js
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target
