@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap');

$enable-dark-mode: true;
$color-mode-type: media-query;

$primary: #31425f;
$primary-dark: #141C2A;
$light-primary-dark: #9EACBB;

$danger: #86001A;
$sccs-accent: #f46523;

$body-bg: #E5E7EB;
$body-bg-dark: #0B0F18;

$navbar-dark-color: #fff;
$navbar-dark-hover-color: $sccs-accent;
$navbar-dark-active-color: $sccs-accent;
$navbar-dark-brand-color: $navbar-dark-color;

$dropdown-dark-link-hover-color: $sccs-accent;
$dropdown-dark-link-hover-bg: $primary;
$dropdown-dark-link-active-color: $sccs-accent;

$card-bg-dark: #171B24;

$form-text-color: #495057;

$input-bg: white;
$input-bg-dark: #2B3241;

$font-family-base: 'Raleway', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';

$light: #d1d1d1;

$border-radius: 4px;
$border-radius-sm: 4px;
$border-radius-lg: 4px;

$display-font-sizes: (
  1: 4.5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
) !default;

// needed for some button spacings on the homepage
// see https://getbootstrap.com/docs/5.1/utilities/spacing/#negative-margin
$enable-negative-margins: true;

@import "../../node_modules/bootstrap/scss/bootstrap";

.bg-navbar {
  background-color: $primary;
}

@include color-mode(dark) {
  .bg-navbar {
    background-color: #{$primary-dark};
  }
}

@include color-mode(dark) {
  .form-control {
    background-color: #{$body-bg-dark};
  }
  .form-select-sm{
    background-color: #{$primary};
  }

  .form-control:focus {
    background-color: #{$primary-dark};
  }

  label::after {
    background-color: transparent !important;
  }
}

h1 {
  color: #{$primary};
}

@include color-mode(dark) {
  h1 {
    color: #fff;
  }
}

@include color-mode(dark) {
  .btn-outline-primary {
    --bs-btn-color: #{$light-primary-dark};
    --bs-btn-border-color: #{$light-primary-dark};
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #{$light-primary-dark};
    --bs-btn-hover-border-color: #{$light-primary-dark};
    --bs-btn-active-color: #{$light-primary-dark};
    --bs-btn-active-bg: #{$light-primary-dark};
    --bs-btn-active-border-color: #{$light-primary-dark};
    --bs-btn-disabled-color: #{$light-primary-dark};
    --bs-btn-disabled-border-color: #{$light-primary-dark};
  }

  .btn-primary {
    --bs-btn-color: #{$primary-dark};
    --bs-btn-bg: #{$light-primary-dark};
    --bs-btn-border-color: #{$light-primary-dark};
    --bs-btn-hover-color: #{$sccs-accent};
    --bs-btn-hover-bg: #{$light-primary-dark};
    --bs-btn-hover-border-color: #{$light-primary-dark};
    --bs-btn-active-color: #{$primary-dark};
    --bs-btn-active-bg: #{$light-primary-dark};
    --bs-btn-active-border-color: #{$light-primary-dark};
    --bs-btn-disabled-color: #{$primary-dark};
    --bs-btn-disabled-bg: #{$primary-dark};
    --bs-btn-disabled-border-color: #{$primary-dark};
  }
}

td.dtr-control:before {
  background-color: #{$primary} !important; // override responsive-datatables
}

@include color-mode(dark) {
  td.dtr-control:before {
    filter: invert(1);
    background-color: white !important;
  }
}

@include color-mode(dark) {
  .btn.btn-primary {
    color: #fff;
  }
}

code {
  color: #{$primary};
}

@include color-mode(dark) {
  code {
    color: #fff;
  }
}

@include color-mode(dark) {
  a {
    color: #{$sccs-accent};
  }
}

// links in staff message and footer
.bg-primary a {
  color: inherit;
}

.bg-primary a:hover {
  color: #{$sccs-accent};
}

// fix scrolling with navbar
html {
  scroll-padding-top: 70px;
}

.shadow-sm {
    box-shadow: none !important;
    filter: drop-shadow(0px 1px 13px #0000001b) drop-shadow(0px 5px 8px #0000001b) drop-shadow(0px 3px 5px #00000033);
}

.dashcard {
    transition: all .2s ease-in-out;
}

.newscard {
    transition: all .2s ease-in-out;
}

.dashcard:hover {
    transform: scale(1.1);
    z-index: 100;
    filter: drop-shadow(0px 1px 13px #00000033) drop-shadow(0px 5px 8px #00000033) drop-shadow(0px 3px 5px #00000044) !important;
}

.newscard:hover {
    transform: scale(1.3);
    translate: -10%;
    z-index: 100;
    margin-x: auto;
    filter: drop-shadow(1px 3px 13px #0000001b) drop-shadow(1px 8px 8px #0000001b) drop-shadow(1px 8px 5px #00000033) !important;
}
