@import "~bootstrap/scss/bootstrap";

$primary: #F46523;

/*$theme-colors: (
  "primary": #F46523,
  "danger": $danger
);*/
//$body-bg: #f423d1;
$body-color: #f423d1;

$font-family-base: Raleway, !default;